[submodule "clients/reach-edu"]
	path = clients/reach-edu
	url = https://github.com/lossless-group/augment-reach-edu.git
[submodule "clients/humain-vc"]
	path = clients/humain-vc
	url = https://github.com/lossless-group/humain-vc-data.git
